altgraph==0.17
atomicwrites==1.4.0
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
decorator==4.4.2
Deprecated==1.2.11
gitdb==4.0.5
GitPython==3.1.14
idna==2.10
networkx==2.8.7
pefile==2022.5.30
pydot==1.4.2
PyGithub==1.57
pyinstaller==5.6.2
pyinstaller-hooks-contrib==2022.10
PyJWT==2.4.0
PyNaCl==1.5.0
pyparsing==2.4.7
pywin32-ctypes==0.2.0
PyYAML==5.4.1
requests==2.25.1
smmap==3.0.5
toml==0.10.2
tqdm==4.59.0
urllib3==1.26.5
wrapt==1.12.1
