name: CI

on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, ubuntu-latest, windows-latest]
        python-version:
          - name: 3.6
            toxenv: py36
          - name: 3.7
            toxenv: py37
          - name: 3.8
            toxenv: py38
          - name: 3.8
            toxenv: mypy
          - name: 3.9
            toxenv: py39

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version.name }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version.name }}
    - name: Ensure we have new enough versions to respect python_version
      run: python -m pip install -U pip
    - name: Install dependencies
      run: brew install gmp coreutils
      if: runner.os == 'macOS'
    - name: Install elan
      run: |
          curl https://raw.githubusercontent.com/leanprover/elan/master/elan-init.sh -sSf | sh -s -- --default-toolchain none -y
    - name: Add Lean to PATH
      run: echo "$HOME/.elan/bin/" >> $GITHUB_PATH
      if: runner.os != 'Windows'
    - name: Add Lean to PATH
      run: echo "${HOME}/.elan/bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
      if: runner.os == 'Windows'
    - name: Install tox
      run: python -m pip install tox
    - name: Run tox
      run: python -m tox -e "${{ matrix.python-version.toxenv }}"
