name: Install Scripts CI

on:
  push:
  pull_request:
  release:
    types: [published]

jobs:
  install_macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    - name: Install mathlib-tools
      run: ./scripts/install_macos.sh
    - name: Check that lean runs
      run: lean --version
    - name: Check that leanproject runs
      run: leanproject --help
